<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Document</title>
</head>
<body>
  <form action="submit-form" method="POST">
    <div class="Content-login">
      <h2 style="text-align: center;">Đăng nhập</h2>
  
          <label for="fname">Tên đăng nhập</label>
          <input type="text" id="tendangnhap" name="tendangnhap" placeholder="Nhập tên đăng nhập...">
          <h5 style="color:red"></h5>
  
          <label for="country">Mật khẩu</label>
          <input type="password" id="matkhau" name="matkhau" placeholder="Nhập mật khẩu...">
          <h5 style="color:red"></h5>
  
          <button type="submit" class="Login">Đăng nhập</button>
  
          <div style="margin-top: 20px">
              Bạn chưa có tài khoản?
          </div>
      
  </div>
  </form>
  
</body>
</html>